In [2]:
import numpy as np
import pandas as pd

In [23]:
lista1 = ['a', 'b', 'c']
lista2 = [1, 2, 3]
arr = np.array([10, 20, 30])
d = {'a':100, 'b':200, 'c':300}

In [24]:
pd.Series(data = lista2, index = lista1)

a    1
b    2
c    3
dtype: int64

In [25]:
pd.Series(lista2, lista1)

a    1
b    2
c    3
dtype: int64

In [26]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [28]:
serie1 = pd.Series([1, 2, 3], index = ['João', 'Paulo', 'Ignez'])
serie1

João     1
Paulo    2
Ignez    3
dtype: int64

In [29]:
serie1['João']

1